body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
    color: #333;
}

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

button {
    display: inline-block;
    background: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background: #555;
}

#ejercicio-container {
    margin-top: 20px;
}

.resultado {
    background-color: #e9e9e9;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
}

/* Estilos específicos para ciertos ejercicios */
#objeto {
    width: 100px;
    height: 100px;
    background-color: #3498db;
    margin: 20px auto;
}

#frase {
    font-size: 18px;
    margin: 20px 0;
}

#shopping-list {
    list-style-type: none;
    padding: 0;
}

#shopping-list li {
    background-color: #f9f9f9;
    margin-bottom: 5px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.completed {
    text-decoration: line-through;
    opacity: 0.6;
}